.indexRoute {
  width: 90%;
  max-width: 1100px;
  height: 40%;
  margin: 20px;
}

.layout {
  display: flex;
  min-height: 70%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 13px;
  
}
.headerToolbar {
  margin-right: 10px; /* Adjust the spacing as needed */
}