.sp {
  display: flex;
  width: 500px;
  margin-top: 2rem;
  /* background-color: white; */
}

.spImage {
  height: 100px;
}
.spName {
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}
